.pagination
{
    display: flex;
    gap: 10px;   
}

.pagination .btn-prev,
.pagination .btn-next
{
    width: 30px;
    height: 30px;
    border: none;
    font-size: 15px; 
    border-radius: 0.4rem; 
    cursor: pointer;
    color: var(--color-1);
}

.pagination .btn-prev:hover,
.pagination .btn-next:hover
{
    background-color: var(--color-3);
    color: var(--color-4);
}

.pagination .btn-prev.disabled,
.pagination .btn-next.disabled
{
    display: none;
}