<div class="pagination">
    <button class="btn-prev">
        <i class="fa-solid fa-chevron-left"></i>
    </button>
    <button class="btn-next">
        <i class="fa-solid fa-chevron-right"></i>
    </button>
</div>